@model Yaplex.SEO.ViewModels.RobotsViewModel
@{
    Layout.Title = T("Robots");
}
<fieldset>
    <legend>@T("Robots.txt")</legend>
    <div class="form-group">
        @Html.TextAreaFor(m => m.RobotsTxt, 20, 75, new {
            @class = "text large"
        })
        @Html.Hint(T("robots.txt content"))
    </div>
</fieldset>
   
